In [38]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

a="Hellow Adi"
print(type(a))

list1=[1,2,3,4,'Adi',50.90]
print(type(list1))

float1=10.20
print(type(float1))

tuple1=(1,2,3,40.56,'rytg')
print(type(tuple1))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [39]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.

var1 = ' '
print(type(var1))

var2 = '[ DS , ML , Python]'
print(type(var2))

var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [40]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **
a=2
b=5
a/b

0.4

In [41]:
c=10
d=20
c%d

10

In [42]:
a=10
b=5
a//b

2

In [43]:
a=2
b=5
a**b

32

In [44]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.
list2=[1,2,3,4,5,'c','b',40.59,'Adi']
list2

[1, 2, 3, 4, 5, 'c', 'b', 40.59, 'Adi']

In [45]:
for i in list2:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'str'>
c
<class 'str'>
b
<class 'float'>
40.59
<class 'str'>
Adi

In [47]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
count = 0
while A % B == 0:
    A = A // B 
    count += 1
if A == 1:
    print(f"{A} is purely divisible by {B}, and it can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter number A:  10
Enter number B:  2

5 is not purely divisible by 2.

In [37]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element 
#is divisible by 3 or not.
r=[20,21,23,24,27,33,30,5,6,34,56,768,897,34,232,446,68,353,5433,343]

In [48]:
for i in r:
    if(i%3==0):
        print(i)
    else:
        print("not division")

not division
21
not division
24
27
33
30
not division
6
not division
not division
768
897
not division
not division
not division
not division
not division
5433
not division

In [49]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.
w=[10,20.30,'Adi']
print(type(w))
e=(29,49.43,'wel')
print(type(e))

w[0]=37
print(w)
e[2]=39
w.append(44)

<class 'list'>
<class 'tuple'>
[37, 20.3, 'Adi']

TypeError: 'tuple' object does not support item assignment